:root {
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*fonts*/
  --main-fonts: 'Roboto', sans-serif;
  --logo-fonts: 'Raleway', sans-serif;

  /*bg colors*/
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;

  /*text colors*/
  --main-text-color: #212121;
  --accent-text-color: #2196f3;
}

body {
  font-family: var(--main-fonts), sans-serif;
  color: var(--main-text-color);
}
header {
  border-bottom: 1px solid #ececec;
}
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.flex {
  display: flex;
  align-items: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section:nth-child(2) {
  padding-bottom: 0;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.no-scroll {
  overflow: hidden;
}

/*header*/
.logo-head {
  font-family: var(--logo-fonts);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  text-decoration: none;
  color: var(--accent-text-color);
}
.logo-head-accent {
  color: var(--main-text-color);
}
.nav-ul {
  margin-left: 93px;
  gap: 50px;
}
.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
  display: block;
  transition: color var(--cubic);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-color);
}
.nav-link-current {
  position: relative;
  color: var(--accent-text-color);
}
.nav-link-current::after {
  content: '';
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  background: #2196f3;
  border-radius: 2px;
}
.contacts {
  margin-left: auto;
  gap: 50px;
}
.contacts-item {
  display: flex;
}
.contacts-nav {
  align-items: center;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  transition: color var(--cubic);
}

.contacts-nav:hover,
.contacts-nav:focus {
  color: var(--accent-text-color);
}
.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
  transition: fill var(--cubic);
}
.contacts-icon:hover,
.contacts-icon:focus {
  fill: var(--accent-text-color);
}

/*index html*/

/*hero section*/
.section-wrap {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-section {
  background: var(--dark-bg-color);
}
.hero-title {
  width: 700px;
  margin: 0 auto;

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  color: #ffffff;
}
.hero-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  margin-top: 30px;
  min-height: 50px;
  min-width: 200px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--accent-text-color);
  transition: background-color var(--cubic);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
.bg-image-hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg);
  background-position: center;
}

/*benefits section*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-benefits {
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.benefit-link {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
.benefit-cards {
  width: 270px;
}
.benefit-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.benefit-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.list-work {
  list-style: none;
  gap: 30px;
}
.item-list-work {
  position: relative;
}
.overlay-list-work {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}
.title-overlay-list-work {
  font-family: var(--main-fonts);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

/*team section*/

.team-bg {
  background-color: var(--light-bg-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.team-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
.list-team {
  gap: 30px;
}
.team-text-card {
  padding: 30px 20px;
}
.bg-cards {
  width: 270px;
  padding: auto;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.social-list {
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social-link {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color var(--cubic);
}
.social-icon {
  fill: #afb1b8;
  transition: fill var(--cubic);
}
.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

/*clients section*/
.clients-list {
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  display: flex;

  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--cubic);
}
.clients-icon {
  fill: #afb1b8;
  transition: fill var(--cubic);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid #2196f3;
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196f3;
}

/*portfolio*/

/*section*/
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.nav-butons {
  background: #f5f4fa;
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--main-text-color);
  background: var(--light-bg-color);
  padding: 6px 22px;
  transition: color var(--cubic), background-color var(--cubic), box-shadow var(--cubic);
}
.nav-butons:hover,
.nav-butons:focus {
  color: #ffffff;
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.current-btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background: var(--accent-text-color);
}
.flex-btn {
  justify-content: center;
  display: flex;
  gap: 8px;
}

.flex-wrap-portfolio {
  padding: 0;
  margin: 0;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-card {
  display: inline-block;

  background: #ffffff;

  cursor: pointer;
  text-decoration: none;
  transition: box-shadow var(--cubic);
}
.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.text-card {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}
.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.portfolio-text {
  display: inline;
  padding-left: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}
.portfolio-item {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  padding: 63px 24px;
  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);

  transform: translateY(0);

  transition: transform var(--cubic);
}
.portfolio-card:hover .portfolio-overlay,
.portfolio-card:focus .portfolio-overlay {
  transform: translateY(-100%);
}
.portfolio-overlay-text {
  font-family: var(--main-fonts);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*footer*/
.footer-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--dark-bg-color);
}
.foot-align {
  padding-left: 0;
}
.logo-foot {
  margin-bottom: 20px;
  display: inline-block;
  font-family: var(--logo-fonts);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  text-decoration: none;
  color: var(--accent-text-color);
}
.logo-foot-accent {
  color: #ffffff;
}
.list-foot-item {
  margin-top: 0;
  margin-bottom: 10px;
}
.address {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.contacts-foot {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.blocks {
  align-items: baseline;
}
.foot-rigth-block {
  margin-left: 70px;
}
.foot-title {
  padding-left: 0;
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.social-list-foot {
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social-link-foot {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 10%);
  border-radius: 50%;
  transition: background-color var(--cubic);
}
.social-link-foot:hover,
.social-link-foot:focus {
  background-color: #2196f3;
}
 .social-icon-foot {
  fill: #ffffff;
}
.foot-email-block{
   margin-left: 93px;
}
.foot-email-label{
   width: 360px;
   height: 50px;
   display: inline-flex;
   align-items: center;
   background-color: transparent;
   color: rgba(255, 255, 255, 0.6);
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
}
.foot-email-btn{
   width: 200px;
   height: 50px;
   margin-right: 12px;

   display: inline-flex;
   align-items: center;
   text-align: center;
   background-color: var(--accent-text-color);
   background: #2196F3;
   border: 0;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
}
.foot-email-btn:hover,
.foot-email-btn:focus{
   background-color: #188ce8;
}
.foot-email-btn-text{
   font-family: var(--main-fonts);
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 30px;
   color: #fff;
   margin-left: 30px;
   margin-right: 10px;
}
.foot-email-btn-icon{
   fill: #fff;
}

/*modal window*/
.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.2);

  transition: opacity var(--cubic), visibility var(--cubic);
}
.backdrop.is-hidden {
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  width: 530px;
  height: 580px;

  background: #ffffff;
  border-radius: 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  padding: 0;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
